@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --fondo: #323232;
    --blanco: #ffff;
    --fondoAzul: #0061a8;
    --celeste: #3282b8;
    --texto: #bbe1fa;

    --fuente: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--fondo);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ventana{
    background-color: var(--blanco);
    padding: 20px 30px;
    color: var(--fondoAzul);
}

.ventana .title{
    font-family: var(--fuente);
    letter-spacing: 1px;
    text-align: center;    
}
    .title>h1{
        margin: 0;
    }
.form-register{
    padding: 20px 10px;
    font-family: var(--fuente);
    font-weight: bolder;
}
.form-register>fieldset{
    border: 1px solid var(--fondoAzul);
    padding-left: 20px;
    margin-bottom: 10px;
}
.group-item{
    display: flex;
    margin: 0 0 10px 0;
    width: 500px;
}
    .group-item>span{
        width: 100%;
    }
    .group-item span>label{
        display: block;
        font-size: 14px;
        padding: 5px 0;
        font-weight: bolder;
    }
    .group-item span>input{
        outline: none;
        font-size: 12px;
        width: 80%;
        padding: 7px 10px;
        border: 1px solid var(--fondoAzul);
        color: var(--fondo);
    }
    .group-item span>input::placeholder{
        color: var(--fondoAzul);
        opacity: 70%;
    }
    .group-item span>select{
        display: block;
        font-size: 12px;
        width: 87%;
        padding: 7px 10px;
        border: 1px solid var(--fondoAzul);
        color: var(--fondo);
    }

    .group-item.send{
        padding-top: 20px;
        align-items: center;
        margin: auto;
    }
    .group-item.send span{
        font-size: 10px;
        margin: 0;
    }
    .group-item span>.btn-send{
        background-color: var(--fondoAzul);
        padding: 10px 15px;
        color: var(--blanco);
        border: none;
        display: block;
        font-size: 14px;
        font-weight: 400;
        width: 90%;
        cursor: pointer;
    }
